<ion-header [translucent]="true">
  <ion-toolbar class="navbar">
    <ion-title><h1 class="titulo-nav">Cambio de Contraseña</h1></ion-title>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" *ngIf="loadingVisible"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-principal items">
  <ion-item lines="none" class="fondo-principal">
    <ion-item class="{{ errorStyle }}" lines="none" *ngIf="warningVisible">
      {{ msgError }}
    </ion-item>
  </ion-item>

  <ion-item lines="none" class="fondo-principal">
    <ion-input class="input" [(ngModel)]="mdl_nombreCompleto" type="text" label="Nombre Completo" labelPlacement="stacked" label-placement="floating" fill="outline" placeholder="Nombre Completo" [disabled]="true">
      <ion-icon slot="start" name="text" aria-hidden="true"></ion-icon>
    </ion-input>
  </ion-item>
  
  <ion-item lines="none" class="fondo-principal">
    <ion-input class="input" [(ngModel)]="mdl_usuario" type="text" label="Usuario" labelPlacement="stacked" label-placement="floating" fill="outline" placeholder="Usuario" [disabled]="true">
      <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
    </ion-input>
  </ion-item>
  
  <ion-item lines="none" class="fondo-principal">
    <ion-input class="input" [(ngModel)]="mdl_correo" type="email" label="Correo" labelPlacement="stacked" label-placement="floating" fill="outline" placeholder="Correo" [disabled]="true">
      <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
    </ion-input>
  </ion-item>
  
  <br>
  
  <ion-item lines="none" class="fondo-principal">
    <ion-input class="input" [(ngModel)]="mdl_nueva_contrasena" type="password" label="Nueva Contraseña" labelPlacement="stacked" label-placement="floating" fill="outline" placeholder="Nueva Contraseña">
      <ion-icon slot="start" name="lock-open" aria-hidden="true"></ion-icon>
    </ion-input>
  </ion-item>
  
  <ion-item lines="none" class="fondo-principal">
    <ion-input class="input" [(ngModel)]="mdl_validacion_contrasena" type="password" label="Validar Contraseña" labelPlacement="stacked" label-placement="floating" fill="outline" placeholder="Repita su Contraseña">
      <ion-icon slot="start" name="checkmark-circle" aria-hidden="true"></ion-icon>
    </ion-input>
  </ion-item>
  
  <br>
  <ion-item lines="none" class="fondo-principal">
    <ion-button class="boton" (click)="toMainPageNavigation()" fill="outline" shape="round">Volver al Inicio</ion-button>
    <ion-button class="boton" style="--color: white;" (click)="cambioClaveNavigation()" fill="solid" shape="round">Cambiar Contraseña</ion-button>
  </ion-item>

</ion-content>
