.texto {
    font-family: Arial, sans-serif;  
    font-size: 16px;                
    line-height: 1.5;                
    color: black;                    
    text-align: center;              
    margin: 0 auto;                  
    padding: 10px;                   
}
  
  
h2.texto {
    font-size: 24px;                 
    font-weight: bold;              
    margin-bottom: 20px;             
}
  
.img-fiestas {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 50px;    
}
  
.img-familiar {
    margin-top: 40px;
    margin-bottom: 50px;        
}

.img-aniversario {
    margin-top: 30px;
    margin-bottom: 50px; 
}
.img-lider {
    margin-top: 30px;
    margin-bottom: 50px; 
}

.fondo-tarjeta {
    --background: rgba(248, 208, 8, 0.616);
}

.fondo-boton {
    --background: rgba(248, 216, 8, 0.514);
}

.texto-modal {
    font-family: Arial, sans-serif;  
    font-size: 16px;                
    line-height: 1.5;                
    color: rgb(255, 255, 255);                    
    text-align: center;              
    margin: 0 auto;                  
    padding: 10px;
}

.titulo-nav {
    font-size: 2.3rem;
    font-weight: 900;
}

.navbar {
    --background: rgba(248, 208, 8);
    --color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.boton {
    margin-left: auto;
    height: 2.5rem;
    max-width: 20%;
    width: 10%;
}

.bienvenida {
    --background: #0275d8;
    --color: #FFFFFF;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.textBienvenida {
    margin-left: 1rem;
    font-weight: 900;
}