.navbar {
    --background: rgba(248, 208, 8);
    --color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.titulo-nav {
    font-size: 2.3rem;
    font-weight: 900;
}

.items {
    display: flex;
    align-items: center;
    text-align: center;
}

.fondo-principal {
    --background: #f8f8f8;
    --padding-bottom: 0.5rem;
    --padding-top: 0.5rem;
}

.input {
    --background: #FFFFFF;
    --color: #0275d8;
    --placeholder-color: #4a4a4a;
    --placeholder-opacity: 0.8;
    margin-top: 4px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.boton {
    margin-left: auto;
    height: 3.2rem;
    max-width: 48%;
    width: 60%;
}

.msg-error {
    --background: #ff8800;
    --color: #FFFFFF;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.cuentaCreada {
    --background: #44cd00;
    --color: #FFFFFF;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.msg-errorCredentials {
    --background: #ff9500;
    --color: #FFFFFF;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.fondo-errores {
    --background: #f8f8f8;
}